//	Grid

.grid-row {
	@extend %table;
	.grid-31-small{
		width: percentage(230/1090);
		margin-right: percentage(20/1090);
		&:last-child{
			margin-right: 0;
		}
	}
	.grid-31-full{
		width: percentage(340/1090);
		margin-right: percentage(20/1090);
		&:last-child{
			margin-right: 0;
		}
	}
	.grid-32-full{
		width: percentage(480/1090);
		margin-right:percentage(20/1090);
		&:last-child{
			margin-right: 0;
		}
		@include r(500){
			width: 100%;
			margin-right: 0;
			margin-bottom: 15px;
		}

		.grid-2 {
			width:        percentage(230/480);
			margin-right: percentage(20/480);
			&.ps-standart {
				margin-bottom: 38px;
			}

			&:nth-child(2n+2){
				margin-right: percentage(20/480);
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}


	.grid-3{
		width: percentage(230/730);
		margin-right:percentage(20/730) ;
		&:nth-child(3n+3),&:last-child{
			margin-right: 0;
		}
		@include r(500){
			width: 100%;
			margin-right: 0;
			margin-bottom: 15px;
		}
	}
	.grid-32{
		width: percentage(480/730);
		margin-right:percentage(20/730);
		&:last-child{
			margin-right: 0;
		}
		@include r(500){
			width: 100%;
			margin-right: 0;
			margin-bottom: 15px;
		}
	}
	.grid-2{
		width: percentage(230/480);
		margin-right:percentage(20/480);
		&.ps-standart{
			margin-bottom: 38px;
		}

		&:nth-child(2n+2),&:last-child{
			margin-right: 0;
		}
		@include r(500){
			width: 100%;
			margin-right: 0;
			margin-bottom: 15px;
		}
	}

}
.grid-1,
.grid-2,
.grid-3,
.grid-32,
.grid-31,
.grid-32-full,
.grid-31-full,
.grid-31-small
{
	@extend %ibt;
	display: inline-block !important;
}

.blogroll{
	.grid-2{
		width: percentage(450/770);
		margin-right: percentage(20/770);
		@include r(500){
			width: 100%;
			margin-right: 0;
			margin-bottom: 15px;
		}
	}
	.grid-1{
		width: percentage(300/770);
		@include r(500){
			width: 100%;
			margin-right: 0;
			margin-bottom: 15px;
		}
	}
}

.grid-1{
	.post-excerpt{
		width: 100%;
	}
	.ps-small-square{
		&:last-child{
			margin-bottom: 0;
		}
	}
}