.title_4{
  font-size: 27px;
  display: block;
  line-height: 32px;
  font-family:$specialItalicFont;
}
.title_5{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
}
.title_7{
  font-size: 20px;
  font-style: italic;
  display: block;
  line-height: 24px;
  color: #000000;
  font-family:$specialItalicFont;
}
.title_8 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 28px;
}


