//	Variables
$time: .3s;

$basecolor: #304d8f;
$textcolor:#1d1d1b;
$secondarytextcolor:#999999;
$green:#479905;
$blue_no2:#219dd0;
$blue_no3:#214f7e;
$blue_no4:#12aaeb;
$blue_no5:#9cb2c0;
$light_gray:#cccccc;
$border_gray:#e7e7e7;
$bgcolor: #f8f8f8;



$fbcolor:#3B5998;
$twcolor:#5EA9DD;
$pincolor:#bd0a38;
$vkcolor:#4B74A5;
$linkedincolor:#007BB6;
$gpcolor:#DA2713;
$ytcolor:#E62117;

$icons: 'icomoon';
$font: 'Arial', 'helvetica', 'arial', sans-serif;
$fontMed: 'Helvetica5', 'arial', sans-serif;
$fontBolder: 'HelveticaNeueCyr-Black', 'helvetica', 'arial', sans-serif;
$specialFont: 'BebasNeueBold', 'helvetica', 'arial', sans-serif;
$specialItalicFont: 'Georgia-Italic', 'helvetica', 'arial', sans-serif;
$specialOneFont: 'Cuprum-Regular', 'helvetica', 'arial', sans-serif;