.mi_icon{
	@include fontello;
}
.fb_icon:before  {
  content: "\e608";
}
.tw_icon:before  {
  content: "\e610";
}
.yt_icon:before  {
  content: "\e702";
}
.vk_icon:before  {
  content: "\e611";
}
.login_icon:before  {
  content: "\e748";
}
.reg_icon:before  {
  content: "\e747";
}
.mi_left_arrow:before  {
  content: "\e750";
}
.mi_right_arrow:before  {
  content: "\e751";
}
.mi_close:before  {
  content: "\e605";
}
.open_search_icon:before  {
  content: "\E749";
  top: 2px;
  position: relative;
  left: 5px;
}
.mi_location:before  {
  content: "\E765";
  margin: 0px 10px 0 -23px;
  font-size: 18px;
  color: #304d8f;
  top: -6px;
  position: absolute;
  left: -4px;
}
.mi_phone:before  {
  color: #304d8f;
  content: "\E766";
  margin: 0 12px 0 -20px;
  position: absolute;
  font-size: 19px;
  top: -6px;
  left: -6px;
}
.mi_mail:before  {
  color: #304d8f;
  margin: 0 10px 0 -20px;
  position: absolute;
  content: "\E767";
  font-size: 14px;
  top: -1px;
  left: -8px;
}
.mi_skype:before  {
  color: #304d8f;
  content: "\E764";
  position: absolute;
  margin: 0 10px 0 -20px;
  font-size: 14px;
  top: 1px;
  left: -8px;
}
.project_1:before  {
  content: "\E753";
  position: absolute;
  font-size: 23px;
  top: -5px;
  left: -43px;
}
.project_2:before  {
  content: "\E754";
  position: absolute;
  font-size: 21px;
  top: -5px;
  left: -46px;
}
.project_3:before  {
  content: "\E755";
  position: absolute;
  font-size: 21px;
  top: -2px;
  left: -47px;
}
.project_4:before  {
  content: "\E756";
  position: absolute;
  font-size: 26px;
  top: -5px;
  left: -46px;
}
.project_5:before  {
  content: "\E757";
  position: absolute;
  font-size: 22px;
  top: -3px;
  left: -46px;
}
.project_6:before  {
  content: "\E758";
  position: absolute;
  font-size: 19px;
  top: 0px;
  left: -51px;
}
.project_7:before  {
  content: "\E759";
  position: absolute;
  font-size: 22px;
  top: -5px;
  left: -47px;
}
.mi_calendar:before  {
  content: "\E760";
  position: absolute;
  top: -3px;
  left: -23px;
  font-size: 16px;
}