//right sidebar
.sidebar.user_sidebar{
  padding-bottom: 20px;
}
.user_sidebar{
  position: relative;
  .user_name  {
    font-family:$specialFont;
    font-size: 20px;
    position: absolute;
    top: -38px;
    letter-spacing: 0.5px;
    left: 1px;
    .mi_icon  {

    }
  }
  .user_name_desc  {
    font-size: 13px;
    position: absolute;
    top: -67px;
  }
  .about_user{
    border: 1px solid #e5d7bd;
    background: #fdf4e3;
    height: 257px;
  }
  .img_wrap {
    width: 87px;
    height: 87px;
    overflow: hidden;
    @include border-radius(50px);
    position: relative;
    float: left;
    margin-right: 19px;
    img {
      height: 90px;
      max-width: 500%;
    }
  }


  .avatar_part  {
    margin: 21px 0 0;
    border-bottom: 1px solid #eae2d3;
    padding: 0 22px 30px 22px;
    p{
      padding-top: 15px;
      line-height: 18px;
    }
    a{
      display: block;
      margin: 10px 0 0;
      font-size: 14px;
    }
  }
  .status_part{
    border-top: 1px solid #fff;
    padding: 27px 23px 0;
    .status {
      display: inline-block;
      background: green;
      font-size: 13px;
      margin: 0px 0 26px 0px;
      padding: 7px 29px 6px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      color: #fff;
      position: relative;
    }
    .data_of_reg{
      color: #615847;
      line-height: 15px;
      span{
        font-weight: bold;
        color: #479905;
      }
    }
  }
}
.user_content{
  background: #fafafa;
  position: relative;
  padding: 37px 25px 0 25px;
  -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  border: 1px solid #d3d3d3;
  +.user_content{
    padding: 0px 25px 0 25px;
    -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
    border: 0px solid #d3d3d3;
    margin-top: 53px;
    .title_6{
      font-size: 16px;
    }
  }
  .info_part  {
    -moz-columns: 2;
    -webkit-columns: 2;
    columns: 2;
    p{
      padding-bottom: 30px;
      line-height: 25px;
      font-size: 15px;
    }
  }
  .update_info{
    display: inline-block;
    position: absolute;
    color: #fff;
    background: #aaaaaa;
    right: 26px;
    top: 39px;
    padding: 7px 14px;
    border: 1px solid #aaa;
    @include border-radius(4px);
    &:hover {
        background: #ffffff;
        color: #aaaaaa;
    }
  }

  .title_6{
    position: relative;
    display: block;
    height: 50px;
    &:before {
      z-index: 1;
      width:100%;
      height: 1px;
      background: #d6d7da;
      display: block;
      position: absolute;
      content: "";
      top: 9px;
      left: 0;
      visibility: visible;
    }
    &:after {
      z-index: 2;
      width: 175px;
      height: 30px;
      background: #fafafa;
      display: block;
      position: absolute;
      content: "";
      top: 0px;
      left: 0;
      visibility: visible;
    }
    span{
      float: left;
      position: relative;
      z-index: 3;
      font-size: 15px;
      color: #3b3b3b;
      font-weight: bold;
    }
  }
  .user_event_item{
    width: 32%;
    float: left;
    background: #fff;
    border: 1px solid #d3d3d3;
    margin-left: 2%;
    padding: 10px;
    &:first-child {
        margin-left: 0;
    }
    .img_wrap{
      height: 198px;
      position: relative;
      overflow: hidden;
      margin-bottom: 25px;
      img {
        position: absolute;
        top:0;
        left: 0;
        height: 198px;
        max-width: 400%;
      }
    }
  }
  .reg_status{
    padding: 18px 2px 9px;
    font-size: 11px;
    color: #479905;
  }
  .bottom_part{
    padding: 6px 0 18px;
    .left_part{
      float: left;
    }
    .right_part{
      float: right;
      span{
        color: #7d7d7d;
        font-size: 11px;
      }
    }
    .small_blue_btn{
      position: relative;
      color: #fff;
      padding: 7px 18px 7px 19px;
      font-size: 11px;
      background: #304d8f;
      z-index: 2;
    }
    .mi_calendar:before {
      top: 0px;
      color: #7d7d7d;
     }
  }
  .user_events_list{
    margin-bottom: 70px;
    position: relative;
  }
  .near_info{
    float: right;
    color: #fff;
    background: #aaaaaa;
    right: 26px;
    top: 39px;
    padding: 7px 32px;
    margin: 35px 0 0 0;
    border: 1px solid #aaa;
    @include border-radius(4px);
    &:hover {
      background: #ffffff;
      color: #aaaaaa;
    }
  }
  .archive_btn{
    float: right;
    color: #fff;
    background: #aaaaaa;
    right: 26px;
    top: 39px;
    padding: 7px 32px;
    border: 1px solid #aaa;
    @include border-radius(4px);
    &:hover {
      background: #ffffff;
      color: #aaaaaa;
    }
  }
  .vac_title{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    color: #0072ff;
    + span{
      font-size: 25px;
      text-decoration: none;
      color: #8f8f8f;
      font-weight: normal;
    }
  }
  .history_of_vac{
    line-height: 25px;
    padding: 22px 0px 0;
  }
  .vac_title_wrap{
    width: 37.6vw;
    display: inline-block;
    min-width: 460px;
  }
  .history_of_vac_item{
    color: $green;
    font-size: 18px;
    padding-bottom: 29px;
  }

  .read_more{
    position: relative;
    display: block;
    height: 50px;
    margin-bottom: 72px;
    &:before {
      z-index: 1;
      width:100%;
      height: 1px;
      background: #d6d7da;
      display: block;
      position: absolute;
      content: "";
      top: 9px;
      left: 0;
      visibility: visible;
    }
    &:after {
      z-index: 2;
      width: 215px;
      height: 30px;
      background: #fafafa;
      display: block;
      position: absolute;
      content: "";
      top: 0px;
      right: 0;
      visibility: visible;
    }
    a{
      float: right;
      position: relative;
      z-index: 3;
      font-size: 13px;
      color: #fff;
      font-weight: bold;
      background-color: #ff7900;
      padding: 3px 38px;
      position: relative;
      top: -7px;
      @include border-radius(4px);
    }
  }
  .read_more{}
}











.update_page{
  .updt_section{
    border-bottom:1px solid #a9a9a9;
    margin: 20px 0 40px;
    padding: 20px 0;
  }
  .updt_section_1{
    margin-top: 0px;
    padding-top:0;
  }
  p{
    font-size: 13px;
    line-height: 22px;
    color: #929292;
    margin-bottom: 48px;
  }
  .main_label{
    display: block;
    font-size: 13px;
    padding-bottom: 13px;
    &.important_input{
      color: #ff8400;
      margin-left: -5px;
      &:before {
        content: "*";
      }
    }
  }
  .small_label{
    line-height: 26px;
    color: #666666;
    font-size: 11px;
    margin: 0 0 24px;
    top: -12px;
    position: relative;
  }
  .input_holder_3{
    width: 33%;
    float: left;
    position: relative;
  }.reg_icon{
    &:before {
      display: block;
      @include fontello;
      content: "\e768";
      color: #9F9F9F;
      left: 91%;
      top: 30px;
      font-size: 18px;
      position: absolute;
    }
  }
  .input_holder_2.reg_icon{
    &:before {
      left: 89%;
    }
  }
  input[type=text],
  input[type=password],
  input[type=email]{
    font-size: 15px;
    background: #fff;
    border: 1px solid #c5c5c5;
    width: 88%;
    margin: 0 0 24px;
    height: 32px;
    color: #000;
    padding: 3px 12px 0px;
  }
  textarea{
    font-size: 15px;
    background: #fff;
    border: 1px solid #c5c5c5;
    width: 88%;
    margin: 0 0 24px;
    height: 100px;
    color: #000;
    padding: 3px 17px 0px;
    resize: none;
  }
  .jqselect{
    width: 88%;
  }
  .small_slct{
    .jqselect{
      width: auto;
      margin-right: 10px;
    }
  }
  .smallest_slct{
    .jqselect{
      width: 130px;
      margin-right: 10px;
    }
  }
  .input_holder_5 {
    width: 20%;
    float: left;
  }
  .add_univer{
    margin-bottom: 50px;
  }
  .jq-selectbox{
    margin: 0 0 24px;
  }
  .input_holder_2{
    width: 49%;
    float: left;
    position: relative;
  }
  .input_holder_3_2{
    width: 66%;
    float: left;
    textarea{
      width: 96%;
    }
  }
  .small_red_btn{
    display: block;
    color: #fff;
    background: #952400;
    width: 136px;
    text-align: center;
    padding: 7px 0;
    font-size: 11px;
    @include border-radius(2px);
    &:hover {
        opacity: 0.8;
    }
  }
  .btns_line{
      .btn_1{
        display: block;
        color: #fff;
        background: #952400;
        text-align: center;
        padding: 10px 20px;
        float: left;
        font-size: 13px;
        &:hover {
          opacity: 0.8;
        }
      }
      .btn_2{
        display: block;
        color: #fff;
        background: #479905;
        text-align: center;
        float: right;
        padding: 10px 20px;
        font-size: 13px;
        &:hover {
          opacity: 0.8;
        }

      }
      .btn_3{
        display: block;
        float: right;
        color: #fff;
        background: #ff8200;
        margin-left: 20px;
        text-align: center;
        padding: 10px 20px;
        font-size: 13px;
        margin-right: 57px;
        &:hover {
          opacity: 0.8;
        }
      }
    .btn_4{
      display: block;
      color: #fff;
      background: #479905;
      text-align: center;
      padding: 10px 20px;
      float: left;
      font-size: 13px;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
body .update_page{
  .update_info{
    top: 24px;
  }
}

