.content {
  width: 97%;
  margin: 0 auto;
}
.top_slider_section {
  display: block;
  position: relative;
  width: 100%;
  max-height: 257px;
  overflow: hidden;
  margin: 0 0 15px;
  .mi_left_arrow{
    background: #000;
    width: 37px;
    height: 37px;
    color: #fff;
    display: block;
    position: absolute;
    right: 72px;
    top: 34px;
    text-align: center;
    font-size: 23px;
    padding-top: 7px;
    @include tr(All);
    opacity: 0.6;
    border-right:1px solid #3d4344;
    &:hover {
        opacity: 1;
    }
  }
  .mi_right_arrow{
    background: #000;
    width: 37px;
    height: 37px;
    color: #fff;
    display: block;
    position: absolute;
    right: 34px;
    top: 34px;
    text-align: center;
    font-size: 23px;
    padding-top: 7px;
    @include tr(All);
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
  .item {
    min-height: 257px;
    max-height: 257px;
    overflow: hidden;
  }
  .sd_bg{
    width: 100%;
    height: 257px;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    img{
      width: 100%;
    }
  }
  .sd_content {
    position: absolute;
    width: 100%;
    height: 257px;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
    padding: 48px 42px 10px 42px;
    a{
      color: #fff;
    }
    .sd_title {
      text-transform: uppercase;
      font-size: 35px;
      margin-bottom: 32px;
      display: block;
      font-family:$specialFont;
    }
    .sd_text{
      line-height: 18px;
    }
  }
}

.middle_content.middle_double{
  width: 100%;
}
.middle_content{
  width: 100%;
  float: left;
  position: relative;
  float: left;
  position: relative;
  margin: 0 27px 58px 0;
  color: #717f88;
  font-size: 15px;
  line-height: 18px;

  .title{
    padding-bottom: 16px;
    border-bottom: 1px solid #d6d7da;
    margin-bottom: 24px;
  }
  .vac_name  {
    color: #0072ff;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
      color: #304d8f;
    }
  }
  .vac_title{
    margin-bottom: 2px;
  }
  .vac_payment{
    font-size: 25px;
    line-height: 25px;
    color: #8f8f8f;
  }
  .vac_tags {
    display: inline-block;
    background: green;
    font-size: 11px;
    margin: 0px 0 5px 27px;
    padding: 3px 9px;
    @include border-radius(3px);
    color: #fff;
    position: relative;
    top: -3px;
  }
  .vac_location{
    font-size: 15px;
    margin-bottom: 7px;
    color: #000;
  }

  .vac_data {
    font-size: 11px;
    color: #7d7d7d;
    margin: 10px 0 0 23px;
  }
  .vacancies_item{
    margin: 34px 0 47px;
    p{
      line-height: 17px;
    }
  }
  .vacancies_list .commercial_section {
    margin-bottom: 40px;
    margin-top: -10px;
    display: block;
    height: 166px;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .vacancies_list{
    padding: 19px 11px;
    .pagination {
      margin: -8px 0 -16px 0;
    }
  }
}

.shadow_box{
  -moz-box-shadow: 0 3px 9px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.3);
  box-shadow: 0 3px 9px rgba(0,0,0,.3);
  padding: 22px 22px;
  margin-bottom: 30px;
  border: 1px solid #d3d3d3;
}





//ANONS
//ANONS
//ANONS
.anns{
  margin: 20px auto 40px;
}
.anons_item {
  .title_4{
    margin-bottom: 21px;
    margin-top: -4px;
    color: #000;
  }
  .img_wrapper{
    @include tr(All);
    max-height: 0;
    overflow: hidden;
    margin: 0;
  }
  .small_img_wrap {
    width: 300px;
    float: left;
    margin-right: 30px;
  }
  .content_section{
    float: left;
    @include tr(All);
    width: calc(100% - 330px);
    .open_anons_btn{
      position: relative;
      color: #fff;
      padding: 4px 18px;
      font-size: 11px;
      background: #304d8f;
      display: inline-block;
    }
  }
  .small_btn {
    position: relative;
    color: #fff;
    padding: 7px 15px;
    font-size: 11px;
    background: #304d8f;
    display: inline-block;
  }
  .vis_when_open{
    display: none;
    .anons_data{
      display: inline-block;
      margin: 0 0 0 30px;
      color: #7d7d7d;
      font-size: 11px;

    }
    .left_side{
      float: left;
      .small_btn {
        background: #479905;
      }
    }
    .right_side{
      float: right;
      .crate_event{
        background: #ff8400;
      }
    }
  }
  .vis_when_close{
    display: block;
  }
  .text_section{
    max-height: 104px;
    overflow: hidden;
    margin-bottom: 14px;
    @include tr(All);
    font-size: 12px;
    color: #717f88;
    line-height: 20px;
  }
  &.open_anons{
    padding: 14px 16px 21px;
    .title_4 {
      margin-bottom: 18px;
    }
    .content_section .open_anons_btn{
      padding: 4px 22px;
      margin: 0 12px 0 4px;
    }
    .crate_event{

    }
    .text_section{
      margin-bottom: 20px;
    }
    .small_btn{
      padding: 4px 27px;
    }
    .img_wrapper{
      max-height: 400px;
      margin-bottom: 18px;
    }
    .small_img_wrap  {
      width: 0;
      margin: 0;
    }
    .content_section  {
      width:100%;
    }
    .title_4{
      color: #223e7c;
    }
    .vis_when_open{
      display: block;
    }
    .vis_when_close{
      display: none;
    }
    .text_section{
      max-height: 600px;
    }
  }
}
.mi_seporator {
  width: 20px;
  display: inline-block;
  color: #479905;
  font-size: 14px;
  text-align: center;
  padding-right: 4px;
  &:before {
    font-family:$font;
      content: "\2022";
  }
}
.anons_item.shadow_box{
  -moz-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
  padding: 22px 22px 23px;
  &.open_anons{
    -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  }
}
.anons_item ~ .all_news_btn span:after  {
    background: #bbc9be;
    width: calc(94vw - 130px);
    height: 1px;
    position: absolute;
    content: "";
    display: block;
    top: 14px;
    left: 130px;
    z-index: 1;
  visibility: visible;
}
.pagination{
  margin-left: 19px;
  ul li{
    float: left;
    font-size: 15px;
    color: #95a0a6;
    margin: 9px 17px 0px 0px;
    .active{
      font-weight:bold;
      text-decoration: underline;
      color: #304d8f;
    }
    a{
      color: #95a0a6;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
.sidebar_one_post .all_news_btn {
  margin-top: 30px;
  display: block;
  text-align: center;
  width: 97px;
}
.middle_sbr  .all_news_btn{
  display: inline-block;
  margin: 43px 0 0 2px;
  padding: 4px 17px 3px;
  z-index: 2;
  &:after {
    display: none;
  }
}





.articles_list{
  margin-top: 22px;
  .shadow_box{
    margin-bottom: 20px;
    @include tr(All);
    -moz-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
    &:hover{
      -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
      box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
    }
  }
  .article_title{
    font-size: 15px;
    line-height: 16px;
    font-weight: bold;
    margin: 0px 0 11px;
    letter-spacing: 0.2px;
    display: block;
    &:hover {
      text-decoration: underline;
    }
  }
  .article_text {
    font-size: 12px;
    line-height: 20px;
    color: #717f88;
  }
  .article_data {
    font-size: 11px;
    color: #7d7d7d;
    margin: 11px 0 0 23px;
  }
  .all_news_btn{
    display: inline-block;
    margin: 69px 0 0;
    padding: 9px 17px 6px;
    z-index: 2;
    &:after {
      display: none;
    }
  }
  .all_news_btn span{
    position: relative;
    &:after {
      background: #bbc9be;
      width: calc(100vw - 880px);
      min-width: 400px;
      height: 1px;
      position: absolute;
      content: "";
      display: block;
      top: 14px;
      left: 130px;
      z-index: 1;
      visibility: visible;
    }
  }
}



//News
.news_item .vis_when_close .news_data {
  display: block;
  margin: 0 0 0 30px;
  color: #7d7d7d;
  font-size: 11px;
  margin-bottom: 16px;
}
.news_item {
  .title_5{
    color: #000;
    margin-bottom: 10px;
  }
  .img_wrapper{
    @include tr(All);
    max-height: 0;
    overflow: hidden;
    margin: 0;
  }
  .small_img_wrap {
    width: 300px;
    float: left;
    margin-right: 16px;
  }
  .content_section{
    float: left;
    @include tr(All);
    width: calc(100% - 330px);
    .open_news_btn{
      position: relative;
      color: #fff;
      padding: 4px 19px;
      font-size: 11px;
      background: #304d8f;
      display: inline-block;
    }
  }
  .small_btn {
    position: relative;
    color: #fff;
    padding: 7px 15px;
    font-size: 11px;
    background: #304d8f;
    display: inline-block;
  }
  .vis_when_open{
    display: none;
    .news_data{
      display: inline-block;
      margin: 0 0 0 30px;
      color: #7d7d7d;
      font-size: 11px;

    }
    .left_side{
      float: left;
      .small_btn {
        background: #479905;
      }
    }
    .right_side{
      float: right;
      .crate_event{
        background: #ff8400;
        padding: 4px 23px;
      }
    }
  }
  .vis_when_close{
    display: block;
  }
  .text_section{
    max-height: 104px;
    overflow: hidden;
    margin-bottom: 8px;
    @include tr(All);
    font-size: 12px;
    color: #717f88;
    line-height: 20px;
  }
  &.open_anons{
    .img_wrapper{
      max-height: 400px;
      margin-bottom: 18px;
    }
    .small_img_wrap  {
      width: 0;
      margin: 0;
    }
    .content_section  {
      width:100%;
    }
    .title_4{
      color: #223e7c;
    }
    .vis_when_open{
      display: block;
    }
    .vis_when_close{
      display: none;
    }
    .text_section{
      max-height: 600px;
    }
  }
   ~ .pagination ul li {
      float: left;
      font-size: 15px;
      color: #95a0a6;
      margin: -3px 17px 0px 0px;
    }
}
.news_item.shadow_box{
  -moz-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
  &.open_anons{
    -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  }
}















//Шпаргалки
.cribs_item .vis_when_close .cribs_data {
  display: block;
  margin: 0 0 17px 26px;
  color: #7d7d7d;
  font-size: 11px;
}
.cribs_item {
  .title_4{
    margin-bottom: 16px;
  }
  .img_wrapper{
    @include tr(All);
    max-height: 0;
    overflow: hidden;
    margin: 0;
  }
  .title_5{
    color: #000;
  }
  .small_img_wrap {
    width: 300px;
    float: left;
    margin-right: 16px;
  }
  .content_section{
    float: left;
    @include tr(All);
    width: calc(100% - 330px);
    .open_cribs_btn{
      position: relative;
      color: #fff;
      padding: 3px 18px;
      font-size: 11px;
      background: #304d8f;
      display: inline-block;
    }
  }
  .small_btn {
    position: relative;
    color: #fff;
    padding: 4px 22px;
    font-size: 11px;
    background: #304d8f;
    display: inline-block;
  }
  .vis_when_open{
    display: none;
    .cribs_data{
      display: inline-block;
      margin: 0 0 0 30px;
      color: #7d7d7d;
      font-size: 11px;

    }
    .left_side{
      float: left;
      .small_btn {
        background: #479905;
      }
    }
    .right_side{
      float: right;
      .crate_event{
        background: #ff8400;
      }
    }
  }
  .vis_when_close{
    display: block;
  }
  .text_section{
    max-height: 104px;
    overflow: hidden;
    margin-bottom: 20px;
    @include tr(All);
    font-size: 12px;
    color: #717f88;
    line-height: 20px;
  }
  &.open_anons{
    .img_wrapper{
      max-height: 400px;
      margin-bottom: 18px;
    }
    .small_img_wrap  {
      width: 0;
      margin: 0;
    }
    .content_section  {
      width:100%;
    }
    .title_4{
      color: #223e7c;
    }
    .vis_when_open{
      display: block;
    }
    .vis_when_close{
      display: none;
    }
    .text_section{
      max-height: 600px;
    }
  }
}
.cribs_item  ~ .all_news_btn span:after {
  background: #bbc9be;
  width: calc(94vw - 130px);
  height: 1px;
  position: absolute;
  content: "";
  display: block;
  top: 14px;
  left: 130px;
  z-index: 1;
  visibility: visible;
}
.cribs_item.shadow_box{
  -moz-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  padding: 22px 22px 19px;
  &.open_anons{
    padding: 14px 17px;
    -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  }
}














//News
.publication_item .vis_when_close .publication_data {
  display: block;
  margin: 0 0 0 30px;
  color: #7d7d7d;
  font-size: 11px;
  margin-bottom: 10px;
}
.publication_item {
  .title_4{
    margin-bottom: 16px;
  }
  .img_wrapper{
    @include tr(All);
    max-height: 0;
    overflow: hidden;
    margin: 0;
  }
  .small_img_wrap {
    width: 300px;
    float: left;
    margin-right: 20px;
  }
  .content_section{
    float: left;
    @include tr(All);
    width: calc(100% - 330px);
    .open_publication_btn{
      position: relative;
      color: #fff;
      padding: 4px 22px;
      font-size: 11px;
      background: #304d8f;
      display: inline-block;
    }
  }
  .small_btn {
    position: relative;
    color: #fff;
    padding: 4px 22px;
    font-size: 11px;
    background: #304d8f;
    display: inline-block;
  }
  .vis_when_open{
    display: none;
    .publication_data{
      display: inline-block;
      margin: 0 0 0 30px;
      color: #7d7d7d;
      font-size: 11px;

    }
    .left_side{
      float: left;
      .small_btn {
        background: #479905;
      }
    }
    .right_side{
      float: right;
      .crate_event{
        background: #ff8400;
      }
    }
  }
  .vis_when_close{
    display: block;
  }
  .text_section{
    max-height: 104px;
    overflow: hidden;
    margin-bottom: 20px;
    @include tr(All);
    font-size: 12px;
    color: #717f88;
    line-height: 20px;
  }
  &.open_anons{
    .img_wrapper{
      max-height: 400px;
      margin-bottom: 18px;
    }
    .small_img_wrap  {
      width: 0;
      margin: 0;
    }
    .content_section  {
      width:100%;
    }
    .title_4{
      color: #223e7c;
    }
    .vis_when_open{
      display: block;
    }
    .vis_when_close{
      display: none;
    }
    .text_section{
      max-height: 600px;
    }
  }
}

.publication_item  ~ .all_news_btn span:after {
  background: #bbc9be;
  width: calc(94vw - 130px);
  height: 1px;
  position: absolute;
  content: "";
  display: block;
  top: 14px;
  left: 130px;
  z-index: 1;
  visibility: visible;
}
.publication_item.shadow_box{
  -moz-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
  padding: 20px 18px;
  &.open_anons{
    padding: 14px 17px;
    -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  }
}