.contacts_left{
  width: 430px;
  float: left;
  margin: 0 20px 50px 0;
  .contact_text{
    font-size: 12px;
    line-height: 20px;
    color: #717f88;
    p{
      padding-bottom: 20px;
    }
    .contact_title{
      margin: 29px 0 15px 0;
      font-size: 15px;
      font-weight: bold;
      color: #000;
    }
  }
}
.contacts_map {
  width:calc(100% - 780px);
  float: left;
  margin-right: 27px;
  padding: 5px;
  position: relative;
  iframe{
    width: 100%;
    height: 390px;
  }
  .btn_for_dnld{
    position: absolute;
    color: #fff;
    padding: 7px 21px;
    font-size: 11px;
    background: #304d8f;
    display: inline-block;
    bottom: -40px;
    left: 0;
    &:hover {
      background: #26356e;
    }
  }
}
.contacts_right {
  -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  padding: 31px 0 0;
  margin-bottom: 30px;
  border: 1px solid #d3d3d3;
  width: 300px;
  float: right;
  font-size: 15px;
  p{
    padding:28px 20px 0 69px;
    line-height: 20px;
  }
  .socials{
    border-top: 1px solid #d3d3d3;
    text-align: center;
    margin-top: 56px;
    padding: 18px 61px 41px 77px;
    span{
      font-size: 12px;
      margin-bottom: 13px;
      display: block;
    }
    >div {

    }
  }
}



