.footer_wr {
  margin: -300px 25.25px auto 25.25px;
  min-width: 1200px;
  max-width: 1920px;
  position: relative;
  clear: both;
  border-top: 1px solid #b2acc0;
  box-sizing: border-box;
  .footer{
    padding-top: 52px;
    height: 300px;
    width: 1225px;
    margin: 0 auto;
  }
  .left_part{
    font-size: 11px;
    color: #585858;
    margin: 7px 0 0 74px;
    line-height: 17px;
    width: 400px;
    float: left;
    p{
      padding-bottom: 17px;
      &.extra_padding{
        padding-bottom: 34px;
      }
    }
  }
  .center_part{
    width: 450px;
    float: left;
    margin-top: 7px;
  }
  .footer_nav{
    ul{
      -moz-columns:2;
      -webkit-columns:2;
      columns: 2;
    }
    li{
      display: inline-block;
      width: 100%;
      padding: 0 0 34px 0;
      font-size: 13px;
      a {
        text-decoration: underline;
        color: #0061da;
        &:hover {
            color: #304d8f;
        }
      }
    }
  }
  .right_part{
    width: 300px;
    float: left;
    padding: 0px 0 0 10px;
  }

  //Социалки
  .socials  {
    padding-top: 27px;
    .mi_icon {
      width: 25px;
      height: 25px;
      display: block;
    }
    a {
      width: 25px;
      height: 25px;
      @include border-radius(13px);
      background: #b3bbbb;
      display: inline-block;
      color: #fff;
      text-align: center;
      margin: 0 0 0 13px;
      float: left;
      &:first-child {
        margin: 0;
      }
      @include tr(All);
      .fb_icon:before {
        position: absolute;
        font-size: 16px;
        top: 5px;
        left: 4px;
      }
      .tw_icon:before {
        position: absolute;
        font-size: 15px;
        top: 5px;
        left: 5PX;
      }
      .yt_icon:before {
        position: absolute;
        font-size: 14px;
        top: 5px;
        left: 5px;
      }
      .vk_icon:before {
        position: absolute;
        font-size: 19px;
        top: 3px;
        left: 3px;
      }
      &:hover {
        background: #eaf2f2;
        .fb_icon:before {
          color: $fbcolor;
        }
        .tw_icon:before {
          color: $twcolor;
        }
        .yt_icon:before {
          color: $ytcolor;
        }
        .vk_icon:before {
          color: $vkcolor;
        }
      }
    }
  }
}