.footer_slider {
  width: 96%;
  margin: 0 auto;
  .item{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    >img{
      padding: 20px 10px;
      display: block;
      margin: 0 auto;
    }
  }
  .owl-item{
    height: 200px;
    display: table;
    text-align: center;
  }
  .mi_left_arrow {
    width: 40px;
    height: 49px;
    color: #777;
    display: block;
    position: absolute;
    left: -16px;
    top: 84px;
    text-align: center;
    font-size: 25px;
    padding-top: 16px;
    @include tr(All);
    opacity: 1;
    &:hover {
      opacity: .6;
    }
  }
  .mi_right_arrow {
    width: 40px;
    height: 49px;
    color: #777;
    display: block;
    position: absolute;
    right: -16px;
    top: 84px;
    text-align: center;
    font-size: 25px;
    padding-top: 16px;
    @include tr(All);
    opacity: 1;
    &:hover {
      opacity: .6;
    }
  }
}
.slider_wrapper {
  margin: 15px 0 0;
  border-top: 1px solid #b2acc0;
  padding: 37px 0 48px;
}
.footer_slider .owl-stage-outer {
  width: 94%;
  margin: 0 auto;
}
