.header {
  width: 97%;
  margin: 0 auto 10px;
  position: relative;
  .left_side  {
    width: 300px;
    margin: 0 47px 0 0;
    float: left;
  }
  .right_side  {
    width: 873px;
    width: calc(100% - 347px);
    margin: 0;
    float: left;
  }

  .main_logo{
    padding: 2px 0 0 24px;
    width: 300px;
    margin: 28px 27px 0 0;
    float: left;
  }
  .btns_create  {
    float: left;
    width: 600px;
    margin: 0 ;
    a {
      display: block;
      float: left;
      border: 1px solid #c5c5c5;
      margin: 31px 19px 0 0;
      padding: 10px 13px 8px 16px;
      font-size: 14px;
      font-weight:bold;
      color: #000000;
      @include tr(All);
      &:first-child {
        padding: 10px 27px 8px;
      }
      &:hover {
        background-color: #c5c5c5;
        color: #fff;
      }
    }
  }
  .authorization  {
    float: right;
    text-align: right;
    padding-top: 39px;
    a {
      margin: 39px 0 0 47px;
      font-size: 14px;
    }
    .reg_link{
      color: #ff7200;
      text-decoration: underline;
    }
    .login_link{
      color: #144C92;
      text-decoration: underline;
    }
    .reg_icon:before{
      position: absolute;
      top: -3px;
      left: -21px;
      font-size: 19px;
    }
    .login_icon:before{
      position: absolute;
      top: 0px;
      left: -22px;
      font-size: 16px;
    }
  }



  .nav{
    float: left;
    position: relative;
    margin: 57px 0 0 0;
    a{
      color: #000 ;
    }
    >ul {
      >li{
        float: left;
        margin-right: 10px;
        position: relative;
        a{
          padding: 0px 22px 0 0;

        }
        &.submenu_inside a{
          padding: 0px 30px 0 0;
        }
      }
    }
    .sub-menu {
      max-height:0;
      overflow: hidden;
      @include tr(All);
      position: absolute;
      top: 20px;
      left: 0;
      z-index: 10;
      width: 100%;
      background: #f8f8f8;
      li{
        display: block;
        background-color: #fff;
        &:hover {
          background: #c4c4c4;
          @include tr(All);
        }
        a{
          padding: 5px;
          display: block;
        }
      }
    }
  }
  .submenu_inside {
    position: relative;
    &:before {
      @include fontello;
      content: "\e752";
      display: block;
      position: absolute;
      right: 12px;
      top: -1px;
      opacity: 0.4;
      @include tr(All);
    }
    &:hover{
      &:before {
          opacity: 1;
      }
      .sub-menu{
        max-height:400px;
      }
    }
  }
  .phone_section{
    float: right;
    margin-top: 17px;
    text-align: right;
  }
  .search {
    float: right;
    width: 100%;
    position: relative;
    margin: 44px 0 0 0;
    .visible_part {
      margin: 29px 0px 33px 14px;
    }
    .main_search_input  {
      width: 60%;
      height: 42px;
      font-size: 15px;
      padding: 0 0 0 15px;
      border: 0px none;
      margin-right: 28px;
    }
    .open_search  {
      background: none;
      color: #fff;
      border: 0px none;
      cursor: pointer;
      i{
        padding: 0px 10px 0 0;
        font-size: 13px;
      }
      span{
        border-bottom: 1px dashed #fff;
        font-family:$specialOneFont;
        font-size: 14px;
        position: relative;
        top: -1px;
        left: 5px;
      }
    }
    &.search_open .open_search{
      color: #ff8400;
      span{
        border-bottom: 1px dashed #ff8400;
      }
    }
    &:after {
      content: "";
      width: 99%;
      height: 2px;
      position: absolute;
      display: block;
      bottom: 0px;
      left: 0.5%;
      -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.85);
      -moz-box-shadow:    0px 3px 8px 0px rgba(0, 0, 0, 0.85);
      box-shadow:         0px 3px 8px 0px rgba(0, 0, 0, 0.85);
    }
  }
  .tabs-menu {
    li {
      line-height: 30px;
      float: left;
      background-color: #f4f4f4;
      border-top: 1px solid #dfdfdf;
      border-right: 1px solid #dfdfdf;
      border-left: 1px solid #dfdfdf;
      font-size: 15px;
      a {
        color: #000;
        display: inline-block;
        padding: 6px 35px 5px 34px;
        text-decoration: none;
      }
      &.current {
        background-color: $basecolor;
        border-color: $basecolor;
        a{
          color: #fff;
        }
      }
      .current a {
        color: #2e7da3;
      }
    }
  }
  .tab {
    background:$basecolor;
    float: left;
    width: 100%;
    height: 130px;
    display: block;
    //overflow: hidden;
    @include tr(height);
  }
  .tab-content {
    padding: 20px;
    display: none;
  }
  .search_open .tab {
    height: 350px;
  }
  //Социалки
  .socials  {
    margin: 0 27px 0 0;
    padding: 35px 0 62px;
    span  {
      font-size: 12px;
      float: left;
      line-height: 24px;
      padding: 0 21px 0 0;
    }
    .mi_icon {
      width: 25px;
      height: 25px;
      display: block;
    }
    a {
      width: 25px;
      height: 25px;
      @include border-radius(13px);
      background: #b3bbbb;
      display: inline-block;
      color: #fff;
      text-align: center;
      margin: 0 0 0 15px;
      float: left;
      &:first-child {
        margin: 0;
      }
      @include tr(All);
      .fb_icon:before {
        position: absolute;
        font-size: 16px;
        top: 5px;
        left: 4px;
      }
      .tw_icon:before {
        position: absolute;
        font-size: 15px;
        top: 5px;
        left: 5PX;
      }
      .yt_icon:before {
        position: absolute;
        font-size: 14px;
        top: 5px;
        left: 6px;
      }
      .vk_icon:before {
        position: absolute;
        font-size: 19px;
        top: 3px;
        left: 3px;
      }
      &:hover {
        background: #eaf2f2;
        .fb_icon:before {
          color: $fbcolor;
        }
        .tw_icon:before {
          color: $twcolor;
        }
        .yt_icon:before {
          color: $ytcolor;
        }
        .vk_icon:before {
          color: $vkcolor;
        }
      }
    }
  }
  .hidden_part,.hidden_part_title{
    opacity: 0;
    @include tr(All);
  }
  .search_open .hidden_part,.search_open .hidden_part_title{
    opacity: 1;
  }
  .hidden_part{
    border-top: 1px solid #496dbf;
    margin: 0 12px;
    padding: 23px 0 0;
    overflow: hidden;
    height: 0;
  }
  .search_open .hidden_part{
    overflow: visible;
    height: auto;
  }
  .hidden_part_title  {
    font-size: 15px;
    color: #dbe6ff;
    margin: 0 12px;
    padding-bottom: 7px;
    border-bottom: 1px solid #203a74;
  }
  .jqselect{
    font-size: 15px;
    width: 82%;
  }
  .input_section{
    width: 29.2%;
    margin-bottom: 23px;
    float: left;
    position: relative;
    label {
      display: block;
      color: #8faef4;
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 3px;
    }
    .submit_btn{
      margin: 21px 0 0 0px;
      width: 51%;
      height: 34px;
      border: 0 none;
      position: relative;
      padding: 0 0 0 25px;
      background: #ff8400;
      display: inline-block;
      cursor: pointer;
      &:hover {
        background: #d56b00;
      }
    }
    .mi_search{
      position: static;
      &:before{
        content: "\E740";
        width: 20px;
        cursor: pointer;
        height: 20px;
        top: 32px;
        left: 30px;
        position: absolute;
      }
    }
  }
}
