.arcticmodal-overlay,.arcticmodal-container
{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

}
.arcticmodal-container {
  overflow: auto;
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;

}
*:first-child+html .arcticmodal-container {
  height: 100%
}
.arcticmodal-container_i {
  height: 100%;
  margin: 0 auto;

}
.arcticmodal-container_i2 {
  padding: 24px;
  margin: 0;
  border: 0;
  vertical-align: middle;

}
.arcticmodal-error {
  padding: 20px;
  background: #000;
  color: #fff;

}
.arcticmodal-loading {
  width: 80px;
  height: 80px;
  background: #000 url("../img/loading.gif") no-repeat 50% 50%;
}
.box-modal {
  position: relative;
  width: 500px;
  padding: 16px;
  background: rgba(1, 22, 69, 0.95);
}
.box-modal_close {
  position: absolute;
  right: 10px;
  top: 6px;
  font-size: 11px;
  line-height: 15px;
  color: #999;
  cursor: pointer; }
.box-modal_close:hover {
  color: #666;
}


#logon_modal{
  width: 635px;
  padding: 80px 145px;
  input[type=text],
  input[type=password]{
    font-size: 15px;
    background: #fff;
    border: 0;
    width: 100%;
    margin: 0 0 24px;
    height: 42px;
    color: #000;
    padding: 3px 17px 0px;
  }
  input[type=submit] {
    display: inline-block;
    width: 144px;
    border: 1px solid $green;
    margin: 14px 36px 0 0;
    height: 34px;
    background: $green;
    @include tr(All);
    color: #fff;
    cursor: pointer;
    &:hover {
      color: $green;
      background: #fff;
    }
  }
  .forgot_pass{
    color:#00d2ff;
    text-decoration: underline;
    font-family:$fontMed;
  }
}
.box-modal_close{
  border: 3px solid #fff;
  @include tr(All);
  @include border-radius(25px);
  width: 42px;
  height: 42px;
  color: #fff;
  right: 32px;
  top: 32px;
  .mi_icon{
    font-size: 20px;
    padding: 8px;
    display: block;
  }
}
#review_modal{
  width: 574px;
  padding: 80px 114px;
  .modal_title_1{
    text-align: center;
  }
  input[type=text],
  input[type=email]{
    font-size: 15px;
    background: #fff;
    border: 0;
    width: 100%;
    margin: 0 0 24px;
    height: 42px;
    color: #000;
    padding: 3px 17px 0px;
  }
  textarea{
    background: #fff;
    padding: 5px 17px 5px;
    font-size: 15px;
    color: #000;
    resize: none;
    margin-bottom: 20px;
    border: 0;
    height: 163px;
    width:100%;
  }
  input[type=submit] {
    display: block;
    width: 144px;
    border: 1px solid $green;
    margin: 14px auto 0;
    height: 34px;
    background: $green;
    @include tr(All);
    color: #fff;
    cursor: pointer;
    &:hover {
      color: $green;
      background: #fff;
    }
  }
}
#registration_modal{
  width: 800px;
  padding: 53px 106px 53px 73px;
  .modal_wrap{
    padding: 42px 37px 40px 37px;
  }
  .input_holder{
    width: 50%;
    float: left;
    label{
      font-size: 13px;
      color: #ababab;
      display: block;
      margin-bottom: 13px;
    }
    input{
      font-size: 15px;
      background: #fff;
      border: 1px solid #c5c5c5;
      width: 90%;
      margin: 0 0 22px;
      height: 42px;
      color: #000;
      padding: 3px 14px 0px;
    }
  }
  input[type=submit] {
    display: block;
    float: left;
    width: 144px;
    border: 1px solid $green;
    margin: 14px 30px 0 0;
    height: 34px;
    background: $green;
    @include tr(All);
    color: #fff;
    cursor: pointer;
    &:hover {
      color: $green;
      background: #fff;
    }
  }
  .cancel_btn {
    display: block;
    float: left;
    width: 144px;
    border: 1px solid #bababa;
    margin: 14px auto 0;
    height: 34px;
    background: #bababa;
    text-align: center;
    padding: 9px 0 0;
    @include tr(All);
    color: #fff;
    cursor: pointer;
    &:hover {
      color: #bababa;
      background: #fff;
    }
  }
}
#rules{
  width: 800px;
  padding: 53px 106px 53px 73px;
  .modal_wrap{
    padding: 42px 37px 40px 37px;
  }input[type=submit] {
     display: block;
     float: left;
     width: 144px;
     border: 1px solid $green;
     margin: 14px 30px 0 0;
     height: 34px;
     background: $green;
     @include tr(All);
     color: #fff;
     cursor: pointer;
     &:hover {
       color: $green;
       background: #fff;
     }
   }
  .cancel_btn {
    display: block;
    float: left;
    width: 144px;
    border: 1px solid #bababa;
    margin: 14px auto 0;
    height: 34px;
    background: #bababa;
    text-align: center;
    padding: 9px 0 0;
    @include tr(All);
    color: #fff;
    cursor: pointer;
    &:hover {
      color: #bababa;
      background: #fff;
    }
  }
  .text_part{
    margin-bottom: 30px;
    p{
      color: #7e7e7e;
      font-size: 13px;
      line-height: 17px;
      padding-bottom: 10px;
    }
  }
}















.radio_label{
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #ff8400;
  position: relative;
  top: -3px;
  margin-right: 30px;
}
.box-modal{
  .jq-radio.checked .jq-radio__div{
    background: #ff8400;
    box-shadow: none !important;
  }
}
.modal_wrap{
  @include border-radius(4px);
  background: #fafafa;
}
.modal_title_1{
  font-size: 37px;
  font-family:$specialFont;
  color: #ffffff;
  padding-bottom: 30px;
  text-transform: uppercase;
}
.modal_title_2 {
  font-size: 37px;
  color: $green;
  font-family: $specialFont;
  position: relative;
  display: block;
  height: 65px;
  &:before {
    z-index: 1;
    width: 100%;
    height: 1px;
    background: #d6d7da;
    display: block;
    position: absolute;
    content: "";
    top: 14px;
    left: 0;
    visibility: visible;
  }
  &:after {
    z-index: 2;
    width: 185px;
    height: 30px;
    background: #fafafa;
    display: block;
    position: absolute;
    content: "";
    top: 0px;
    left: 0;
    visibility: visible;
  }
  span{
    position: relative;
    z-index: 3;
  }
}
.modal_title_3{
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  color: #3b3b3b;
  padding-bottom: 30px;
}
#vacancy_modal {
  width: 1100px;
  padding: 58px 0 20px;
  .modal_wrap{
    width: 913px;
    margin: 50px auto;
    padding: 43px 54px 50px;
    @include border-radius(0);
  }

  .modal_title_2 {
    height: 99px;
  }
  .main_label{
    display: block;
    font-size: 13px;
    padding-bottom: 13px;
    &.important_input{
      color: #ff8400;
      margin-left: -5px;
      &:before {
        content: "*";
      }
    }
  }
  .small_label{
    line-height: 26px;
    color: #666666;
    font-size: 11px;
    margin: 0 0 24px;
    top: -12px;
    position: relative;
  }
  .input_holder_3{
    width: 33%;
    float: left;
    margin-bottom: 15px;
  }
  input[type=text],
  input[type=password],
  input[type=email]{
    font-size: 15px;
    background: #fff;
    border: 1px solid #c5c5c5;
    width: 92%;
    margin: 0 0 24px;
    height: 32px;
    color: #000;
    padding: 3px 17px 0px;
  }
  textarea{
    font-size: 15px;
    background: #fff;
    border: 1px solid #c5c5c5;
    width: 92%;
    margin: 0 0 24px;
    height: 100px;
    color: #000;
    padding: 3px 17px 0px;
    resize: none;
  }
  .jqselect{
    width: 92%;
  }
  .small_slct{
    .jqselect{
      width: auto;
      margin-right: 10px;
    }
  }
  .smallest_slct{
    .jqselect{
      width: 130px;
      margin-right: 10px;
    }
  }
  .modal_title_2:after {
    z-index: 2;
    width: 305px;
    margin-bottom: 20px;
  }
  .title_6{
    position: relative;
    display: block;
    height: 50px;
    &:before {
      z-index: 1;
      width:100%;
      height: 1px;
      background: #d6d7da;
      display: block;
      position: absolute;
      content: "";
      top: 9px;
      left: 0;
      visibility: visible;
    }
    &:after {
      z-index: 2;
      width: 175px;
      height: 30px;
      background: #fafafa;
      display: block;
      position: absolute;
      content: "";
      top: 0px;
      left: 0;
      visibility: visible;
    }
    span{
      float: left;
      position: relative;
      z-index: 3;
      font-size: 17px;
      color: #3b3b3b;
      font-weight: bold;
    }
  }
  .jq-selectbox {
    margin: 0 0 24px;
  }
  .cb_wrap {
    float: left;
    margin: 0 32px 24px 0;
    font-size: 13px;
  }
  .small_red_btn{
    display: block;
    color: #fff;
    background: #952400;
    width: 136px;
    text-align: center;
    padding: 7px 0;
    font-size: 11px;
    margin-bottom: 46px;
    @include border-radius(2px);
    &:hover {
      opacity: 0.8;
    }
  }
  .special_section{
    input{
      width: 30%;
      margin-bottom: 22px;
    }
    .small_label{
      top: -3px;
    }
  }
  .btns_line{
    border-top: 1px solid #a9a9a9;
    position: relative;padding-top: 25px;
  }
  .btn_1{
    position: absolute;
    top:33px;
    left: 10px;
    font-weight: bold;
    text-decoration: underline;
    color: #0290d2;
  }
  .btn_2{
    display: block;
    color: #fff;
    text-align: center;
    margin: 0 auto 20px;
    position: relative;
    padding: 10px 10px 10px 40px;
    font-size: 13px;
    background: #ff8200;
    width: 206px;
    &:hover {
      opacity: 0.8;
    }
    &:after {
      content: "+";
      position: absolute;
      top: 5px;
      color: #fff;
      left: 9px;
      font-size: 22px;
      font-family:$icons;
      border: 2px solid #fff;
      width: 19px;
      height: 19px;
      padding-left:1px;
      line-height: 15px;
      @include border-radius(15px);
    }

  }
  .btn_3 {
    display: block;
    margin: 0 auto 20px;
    color: #fff;
    background: #479905;
    text-align: center;
    padding: 10px 20px;
    font-size: 13px;
    position: relative;
    width: 206px;
    &:hover {
      opacity: 0.8;
    }
  }
  .input_holder_3_2{
    width: 66%;
    float: left;
    textarea{
      width: 96%;
    }
  }
  .input_holder_1 {
    float: left;
    width: 100%;
  }
  .cb_line{
  padding:11px 0 10px;
  }
}

#summary_modal{
  width: 1036px;
  padding: 64px 103px 30px;
  .modal_title_3{
    font-size: 37px;
    color: #fff;
    font-family: "BebasNeueBold", "helvetica", "arial", sans-serif;
    position: relative;
    display: block;
    height: 30px;
  }
  .modal_wrap{
    padding: 37px 40px;
    @include border-radius(0px);
  }
  .sum_create_date{
    font-size: 13px;
    margin: 0 0 27px;
    color: #a9a9a9;
  }
  .modal_title_5{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 8px;

  }
  .some {
    font-size: 15px;
    margin-bottom: 39px;
    line-height: 26px;
  }
  .sum_param{
    width: 23%;
    margin: 0 2% 20px 0;
    float: left;
    font-size: 15px;
    line-height: 15px;
    color: #a9a9a9;
    &.sub_title{
      font-weight: bold;
      font-size: 17px;
      line-height: 15px;
      color: #000000;
    }
  }
  .sum_value{
    width: 70%;
    margin: 0 2% 20px 0;
    display: inline-block;
    float: left;
    p{
      margin-bottom: 20px;
    }
    .sum_sub_info{
      font-size: 12px;
      line-height: 14px;
      color: #a9a9a9;
    }
    .addition_param{
      color: #838383;
      display: block;
      padding-bottom: 6px;
    }
    i{
      font-style: italic;
    }
    strong{
      font-weight: bold;
    }
  }
  .title_6{
    position: relative;
    display: block;
    height: 50px;
    &:before {
      z-index: 1;
      width:100%;
      height: 1px;
      background: #d6d7da;
      display: block;
      position: absolute;
      content: "";
      top: 10px;
      left: 0;
      visibility: visible;
    }
    &:after {
      z-index: 2;
      width: 175px;
      height: 30px;
      background: #fafafa;
      display: block;
      position: absolute;
      content: "";
      top: 0px;
      left: 0;
      visibility: visible;
    }
    span{
      float: left;
      position: relative;
      z-index: 3;
      font-size: 17px;
      color: #3b3b3b;
      font-weight: bold;
    }
  }

}












