.link_to_archive{
  position: relative;
  margin: 17px 0 75px;
  &:before {
    z-index: 1;
    width:100%;
    height: 1px;
    background: #d6d7da;
    display: block;
    position: absolute;
    content: "";
    top: 17px;
    left: 0;
    visibility: visible;
  }
  &:after {
    z-index: 2;
    width: 175px;
    height: 30px;
    background: #fff;
    display: block;
    position: absolute;
    content: "";
    top: 8px;
    right: 0;
    visibility: visible;
  }
  .btn_archive{
    float: right;
    position: relative;
    z-index: 3;
    color: #051b68;
    border: 1px solid #bcbcbc;
    padding: 10px 20px 10px 48px;
    font-size: 13px;
    background: #fff;
    font-family:$fontMed;
    @include tr(All);
    &:hover {
      color: #fff;
      background: #bcbcbc;
    }
  }
  .project_7:before{
    font-size: 19px;
    top: -2px;
    left: -35px;
  }
}
.project_page {
  -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  border: 1px solid #d3d3d3;
  background: #fff;
  padding: 31px 32px;
  .title span {
    background: #fff;
  }
}
.prj_header{
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  height: 125px;
  margin: 0 auto;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  .img_wrap{
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50%;
  }
  img{
    position: relative;
    display: block;
    margin: 0 auto;
    top: 0;
    left: 0;
    height: 125px;
    width: 100%;
  }
  .project_1:before {
    position: absolute;
    font-size: 53px;
    top: 37px;
    color: #fff;
    left: 28px;
  }
  .project_2:before {
    position: absolute;
    font-size: 33px;
    top: 44px;
    color: #fff;
    left: 28px;
  }
  .project_3:before {
    position: absolute;
    font-size: 33px;
    top: 47px;
    color: #fff;
    left: 28px;
  }
  .project_4:before {
    position: absolute;
    font-size: 44px;
    top: 37px;
    color: #fff;
    left: 22px;
  }
  .project_5:before {
    position: absolute;
    font-size: 45px;
    top: 37px;
    color: #fff;
    left: 18px;
  }
  .project_6:before {
    position: absolute;
    font-size: 36px;
    top: 44px;
    color: #fff;
    left: 21px;
  }
  .prj_name {
    position: relative;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    vertical-align: middle;
    padding: 44px 120px 0 91px;
    display: block;
  }
}
.prj_main{
  max-height: 0;
  margin: 0;
  padding: 0 30px;
  overflow: hidden;
  background: #e4e4e4;
  border-width: 0px 1px;
  border-style: solid;
  border-color: #c2c2c2;
  img{
    max-width: 100%;
    &.alignright{
      float: right;
      max-width: 50%;
      margin: 0 0 20px 20px;
    }
    &.alignleft{
      float: left;
      max-width: 50%;
      margin: 0 20px 20px 0;
    }
    &.aligncenter{
      margin: 0px auto 20px;
      display: block;
    }
  }
  p{
    padding-bottom: 10px;
    line-height: 20px;
    font-size: 12px;
  }
}
.project{
  margin-bottom: 20px;
}
.open_project{
  .prj_main{
    max-height: 2000px;
    padding: 29px 30px;
  }
}
.prj_footer {
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #e4e4e4;
  border-width: 0px 1px 1px;
  border-style: solid;
  border-color: #c2c2c2;
  padding: 23px 27px 18px;
  .green_btn{
    float: left;
    @include border-radius(3px);
    padding: 10px 17px 8px;
    margin: 0 25px 0 0;
    font-size: 12px;
    position: relative;
    color: #fff;
    background: #479905;
    opacity: 1;
    &:hover {
        opacity: 0.8;
    }
  }
  .publication_data{
    color: #7d7d7d;
    float: left;
    font-size: 12px;
    padding: 10px 0px 0 0;
  }
}




