.sidebar_left  {
  float: left;
  width: 304px;
  margin: 0 43px 0 0;
  padding: 0 0 62px;
}
.sidebar_right  {
  float: left;
  width: 304px;
  margin: 0 0 0;
  padding: 0 0 62px;
}
.sidebar{
  .img_wrapper {
    overflow: hidden;
    height: 141px;
    margin-bottom: 13px;
    display: block;
  }
  .title_3{
    margin-bottom: 20px;
    padding-top: 16px;
    &.custom_lh{
      line-height: 32px;
      margin-bottom: 15px;
    }
  }
}

.sidebar_one_post {
  .img_wrapper {
    overflow: hidden;
    height: 148px;
    margin-bottom: 13px;
    display: block;
    img{
      max-width: 150%;
      height: 148px;
    }
  }
}
.projects {
  margin: 20px 0 47px;
  ul {
    border: 1px solid #c9c9c9;
    li{
      border-top: 1px solid #e2e2e2;
      @include tr(All);
      &:first-child {
          border-top: 0px none;
      }
      &:hover {
          border-color: $green;
        +li{
          border-color: $green;
        }
      }
      a{
        font-size: 15px;
        color: #636363;
        padding: 28px 10px 25px 68px;
        background: #fff;
        display: block;
        @include tr(All);
        i{
          color: $basecolor;
        }
        &:hover {
          color: #fff;
          background: $green;
          i{
            color: #fff;
          }
        }
      }
    }
  }
}
.sidebar_news {
  margin: 15px 0 79px;
  border-top: 1px solid #d6d7da;
  padding-top: 35px;
  &.custom_news{
    margin: 2px 0 79px;
    .sidebar_post_item {
      margin-bottom: 60px;
    }
  }
  .sidebar_post_item {
    margin-bottom: 49px;
    strong{
      font-size: 15px;
      color: #000;
      text-decoration: none;
      padding-bottom: 14px;
      display: block;
      line-height: 19px;
    }
    p {
      color: #717f88;
      line-height: 20px;
      display: block;
      padding-bottom: 8px;
      font-size: 12px;
    }
    a:hover strong{
      color: #304d8f;
      text-decoration: underline;
    }
    .publication_data {
      color: #7d7d7d;
      font-size: 11px;
      padding-left: 23px;
    }
  }
}
.all_news_btn {
  position: relative;
  color: #fff;
  padding: 7px 15px;
  font-size: 11px;
  background: $basecolor;
  z-index: 2;
  @include tr(All);
  &.green {
    background: $green;
    &:hover {
        opacity: .8;
    }
  }
  &:hover {
    background: #457cd7;
  }
  &:after {
    background: #bbc9be;
    width: 170px;
    height: 1px;
    position: absolute;
    content: "";
    display: block;
    top: 14px;
    left: 130px;
    z-index: 0;
  }
}
.sidebar_slider {
  background:#304d8f;
  color: #fff;
  padding: 31px 31px 37px;
  margin-bottom: 50px;
  .title_2  {
    font-size: 20px;
    line-height: 27px;
    padding: 0 10px 24px 0;
    letter-spacing: 0.8px;
  }
  .owl-dots {
    display: none !important;
  }
  .item{
    padding: 0 2px;
  }
  form{
    color: #b7baf6;
    font-size: 15px;
    line-height: 18px;
  }
  .radio_btns {
    margin-bottom: 25px;
    input,label,.jq-radio{
      cursor: pointer;
      float: left;
    }
    label{
      line-height: 25px;
    }
  }
  input[type="submit"]{
    background: #304d8f;
    font-size: 13px;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px 22px;
    cursor: pointer;
  }
  .mi_left_arrow{
    background: #0f224b;
    width: 40px;
    height: 46px;
    color: #fff;
    display: block;
    position: absolute;
    right: 40px;
    bottom: -46px;
    text-align: center;
    font-size: 18px;
    padding-top: 16px;
    @include tr(All);
    border-right:1px solid #274078;
    opacity: 1;
    &:hover {
      opacity: .6;
    }
  }
  .mi_right_arrow{
    background: #0f224b;
    width: 40px;
    height: 46px;
    color: #fff;
    display: block;
    position: absolute;
    right: 0px;
    bottom: -46px;
    text-align: center;
    font-size: 18px;
    padding-top: 16px;
    @include tr(All);
    opacity: 1;
    &:hover {
      opacity: .6;
    }
  }
}
.sidebar_slider + .description  {
  display: block;
  width: 224px;
  background: #274078;
  margin: -50px 0 0 0;
  padding: 15px 0;
  height: 46px;
  text-align: center;
  color: #09193d;
}
.title_3  {
  font-size: 27px;
  font-family: $specialItalicFont;
  display: block;
}
.sidebar_one_post {
  margin-top: 15px;
  margin-bottom: 50px;
  border-top: 1px solid #d6d7da;
  padding-top: 27px;
  .img_wrapper {
    margin-bottom: 20px;
  }
  p{
    font-size: 15px;
    color: #717f88;
    line-height: 18px;
  }
  .all_news_btn{
    margin-top: 30px;
    display: block;
    text-align: center;
    width: 93px;
  }
}
.sidebar_section{
  width: 100%;
  margin-bottom: 39px;
}
.simple_sidebar_btn{
  background: rgb(255,131,0); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,131,0,1) 0%, rgba(255,110,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,131,0,1) 0%,rgba(255,110,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,131,0,1) 0%,rgba(255,110,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8300', endColorstr='#ff6e00',GradientType=0 ); /* IE6-9 */
  padding: 15px 0;
  font-weight:bold;
  font-size: 16px;
  color: #000;
  display: block;
  text-align: center;
}
.sb_hot_vacancies{
  background: #304d8f;
  text-align: center;
  padding: 31px 20px 36px;
  .sb_title_4{
    text-transform: uppercase;
    font-size: 25px;
    line-height: 43px;
    color: #ffffff;
    font-family:$specialFont;
    padding: 15px 0 9px;
    letter-spacing: 0.6px;
  }
  p{
    color: #b7baf6;
    line-height: 18px;
    font-size: 15px;
    display: block;
  }
 .sb_orenge_btn{
   line-height: 13px;
   padding: 10px 15px 7px;
   margin: 26px 0 0;
   background: #ff8400;
   font-family:$fontMed;
   border: 1px solid #ff8400;
   color: #000000;
   display: inline-block;
 }
}
.sb_add_vacancies{
  background: #304d8f;
  text-align: center;
  padding: 28px 35px 38px;
  .sb_title_4{
    text-transform: uppercase;
    font-size: 25px;
    line-height: 43px;
    color: #ffffff;
    font-family:$specialFont;
    padding: 14px 0 8px;
    letter-spacing: 0.6px;
  }
  p{
    color: #b7baf6;
    line-height: 18px;
    font-size: 15px;
    display: block;
  }
 .sb_orenge_btn{
   line-height: 13px;
   padding: 10px 21px 7px;
   margin: 26px 0 0;
   background: #ff8400;
   font-family:$fontMed;
   border: 1px solid #ff8400;
   color: #000000;
   display: inline-block;
 }
}
.commercial_section{
  display: block;
  height: 167px;
  width: 100%;
  img {
    height: 167px;
    width: 100%;
  }
}
.sidebar_news.cribs_version{
  padding-top: 18px;
  margin: 15px 0 51px;
}
