.wrap {
  position: relative;
  min-width: 1263px;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-bottom: 300px;
}

//Контентные блоки
.middle_full{
  width: 97%;
  margin: 0 auto 50px;
}
.middle_sbl {
  width: calc(100% - 347px);
  margin: 0 0 50px;
  float: left;
}
.middle_sbr{
  width: calc(100% - 331px);
  margin: 0 27px 27px 0;
  float: left;
}
.middle_sblr {
  width: calc(100% - 678px);
  margin: 0 27px 50px 0;
  float: left;
}
.mb3{
  margin-bottom: 3px !important;
}
.mb15{
  margin-bottom: 15px !important;
}
.mb20{
  margin-bottom: 20px !important;
}
.mb22{
  margin-bottom: 22px !important;
}
.mb27{
  margin-bottom: 27px !important;
}
.mb30{
  margin-bottom: 30px !important;
}
.mb34{
  margin-bottom: 34px !important;
}
.mb40{
  margin-bottom: 40px !important;
}
.mb44{
  margin-bottom: 44px !important;
}
.mb49{
  margin-bottom: 49px !important;
}
.mb53{
  margin-bottom: 53px !important;
}
.mb59{
  margin-bottom: 59px !important;
}
.mb65{
  margin-bottom: 65px !important;
}
.mb70{
  margin-bottom: 70px !important;
}
.mbts{
  margin-bottom: 0px;
}
//Социалки
.socials  {
  .mi_icon {
    width: 25px;
    height: 25px;
    display: block;
  }
  a {
    width: 25px;
    height: 25px;
    @include border-radius(13px);
    background: #b3bbbb;
    display: inline-block;
    color: #fff;
    text-align: center;
    margin: 0 15px 0 0;
    float: left;
    @include tr(All);
    .fb_icon:before {
      position: absolute;
      font-size: 16px;
      top: 5px;
      left: 4px;
    }
    .tw_icon:before {
      position: absolute;
      font-size: 15px;
      top: 5px;
      left: 5PX;
    }
    .yt_icon:before {
      position: absolute;
      font-size: 14px;
      top: 5px;
      left: 6px;
    }
    .vk_icon:before {
      position: absolute;
      font-size: 19px;
      top: 3px;
      left: 3px;
    }
    &:hover {
      background: #eaf2f2;
      .fb_icon:before {
        color: $fbcolor;
      }
      .tw_icon:before {
        color: $twcolor;
      }
      .yt_icon:before {
        color: $ytcolor;
      }
      .vk_icon:before {
        color: $vkcolor;
      }
    }
  }
}
.phone_section{
  .call_to_us {
    display: block;
    font-size: 25px;
    font-family:$fontBolder;
    color: #000;
    margin-bottom: 16px;
  }
  .call_to_us_btn{
    background-color: #479905;
    color: #fff;
    padding: 10px 21px 9px;
    display: inline-block;
    font-family:$fontMed;
  }
  .call_to_us_mail{
    color: #717f88;
    font-size: 12px;
  }
}


.title{
  position: relative;
  span{
    z-index: 2;
    background: $bgcolor;
    font-family:$specialFont;
    font-size: 25px;
    line-height: 21px;
    color: #000;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 0.5px;
    padding: 0 20px 0 0;
  }
  &:after {
    background: #ff8400;
    width: 100%;
    z-index: 1;
    display: block;
    content: "";
    height: 18px;
    position: absolute;
    top:0;
    left: 0;
  }
}