.vacancies_form{
  .input_section {
    width: 20%;
    margin-bottom: 26px;
    float: left;
    position: relative;
    label {
      display: block;
      color: #000;
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 3px;
    }
    .jq-selectbox__select{
      min-width:150px;
      width: 90%;
    }
  }
  .select_wrap{
    margin: 20px 0 0px;
    .jqselect{
      width: 90%;
    }
  }
  .response_line {
    padding: 27px 0 5px;

    border-top:1px solid #dfdfdf;
  }
  .response {
    font-size: 15px;
    line-height: 27px;
    span{
      font-size: 19px;
      color: #0072ff;
    }
  }
  .btn_clear_filters  {
    float: right;
    background: #952400;
    opacity: 1;
    color: #ffffff;
    font-size: 11px;
    padding: 7px 17px 6px;
    position: relative;
    top: 4px;
    @include border-radius(2px);
    &:hover {
        opacity: 0.8;
    }
  }
}
.vacancies_section  {
  padding: 20px 23px 40px;
  background: #fff;
  border: 1px solid #d3d3d3;
  -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  .vacancies_item{
    padding: 19px 17px 37px;
  }
  .vac_name {
    color: #0072ff;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    &:hover {
      color: #304d8f;
    }
  }
  .vac_payment {
    font-size: 25px;
    line-height: 25px;
    color: #8f8f8f;
  }
  .vac_tags {
    display: inline-block;
    background: green;
    line-height: 18px;
    font-size: 11px;
    margin: 0px 0 5px 27px;
    padding: 3px 9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    position: relative;
    top: -3px;
    opacity: 1;
    @include tr(All);
  }
  .vac_location {
    font-size: 15px;
    margin-bottom: 8px;
    color: #000;
    margin-top: 3px;
    +p{
      line-height: 17px;
    }
  }
  .vac_data {
    font-size: 11px;
    color: #7d7d7d;
    margin: 15px 0 0 23px;
  }
  .top_hidden_section,.short_desc {
    display: none;
  }
  .vacancy_open .top_hidden_section,
  .vacancy_open .short_desc{
    display: block;
  }
  .vacancy_open{
    background: #fdf4e3;
    border: 1px solid #e5d7bd;
    @include border-radius(4px);
    padding: 32px 20px 23px 30px;
    margin-bottom: 43px;
    .top_hidden_section{
      margin-bottom:14px;
    }
    .left_part{
      float: left;
      font-size: 15px;
      color: #8a7e72;
    }
    .right_part{
      float: right;
      .vac_data {
        font-size: 11px;
        margin: 3px 0 0 23px;
        float: left;
      }
      .vac_tags{
        margin: 0px 0 5px 20px;
      }
    }
    .small_desc{
      display: none;
    }
    .vac_payment {
      color: #479905;
    }
    .vac_title {
      margin-bottom: 3px;
      .vac_tags{
        opacity: 0;
      }
    }
    .short_desc{
      p{
        line-height: 24px;
      }
    }
    .main_conditions{
      margin: -10px 0 51px;
    }
    .conditions_section{
      li {
        line-height: 24px;
      }
      ul {
        margin-bottom: 26px;
      }
    }
    .addition_conditions{
      border-top:1px solid #eae2d3;
      padding-top: 32px;
      .text_section {
        font-style: italic;
        line-height: 24px;
      }
    }
    .green_btn {
      position: relative;
      color: #fff;
      padding: 10px 30px;
      font-size: 13px;
      background: #479905;
      display: inline-block;
      opacity: 1;
      &:hover {
          opacity: 0.8;
      }
    }
    .bottom_part{
      margin-top: 21px;
    }
    .close_btn{
      position: relative;
      color: #fff;
      padding: 7px 22px;
      font-size: 11px;
      background: #304d8f;
      z-index: 2;
      top: 16px;
      &:hover {
          opacity: 0.8;
      }
    }
    .right_part{
      margin: -1px 0 0 0;
    }
  }
  .pagination {
    padding: 12px 0 9px 0;
  }


}

